<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.loicknuchel.cordova.deviceaccounts"
        version="0.0.1">
    <name>Device Accounts</name>
    <description>Cordova Device Accounts Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device,account,email</keywords>
    <repo>https://github.com/loicknuchel/cordova-device-accounts.git</repo>
    <issue>https://github.com/loicknuchel/cordova-device-accounts/issues</issue>

    <js-module src="www/DeviceAccounts.js" name="DeviceAccounts">
        <clobbers target="plugins.DeviceAccounts" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeviceAccounts" >
                <param name="android-package" value="org.loicknuchel.cordova.deviceaccounts.DeviceAccounts"/>
            </feature>
        </config-file>

        <source-file src="src/android/DeviceAccounts.java" target-dir="src/org/loicknuchel/cordova/deviceaccounts" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
        </config-file>
    </platform>
</plugin>
